.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    border-radius: 35px;
    z-index: 1;
    background: rgba(255, 255, 255);
    min-width: 43px;
    min-height: 43px;
    cursor: pointer;
}
.react-multiple-carousel__arrow::before {
    font-size: 20px;
    color: rgb(11, 134, 168);
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 1;
    position: relative;
}
.react-multiple-carousel__arrow:hover {
    background: rgb(255, 255, 255);
}